<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>.::Welcome to ZyXEL EMG2926-Q10A::.</title>
<script type="text/javascript" src="../js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="../js/networkmap.js"></script>
<script type="text/javascript" src="../js/jquery.jcontext.1.0.js"></script>
<link href="../css/brick.css" rel="stylesheet" type="text/css" />
<script   language="javascript">   
   function   loadFile(){ 
		var frame = document.getElementById("contenthtml");
		var loading = document.getElementById("load");
		frame.onreadystatechange = function(){
    		if( this.readyState == "complete" ) {
				loading.style.display="none";
			}	
		}
  }   

function stateChangeIE(_frame)
    { 
     if (_frame.readyState=="complete")//state: loading ,interactive,   complete
     {
     var loader = document.getElementById("load"); 
        loader.innerHTML      = "";    
        loader.style.display = "none";  
        _frame.style.visibility = "visible";   
     }   
    }
    function stateChangeFirefox(_frame)
    { 
     var loader = document.getElementById("load"); 
        loader.innerHTML      = "";    
        loader.style.display = "none";  
        _frame.style.visibility = "visible";   
    }

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script> 

</head>
<body>
<div id="popup"></div>
<div id="wrapper">
<div class="top_image"></div>
<div style="position:absolute;background:url(../easy/images/frame_left.gif);width:9px;height:501px;z-index: 1;top: 0px;"></div>
<div style="position:absolute;background:url(../easy/images/frame_right.gif);width:9px;height:501px;right:-2px;z-index: 1;top: 0px;"></div>
<div class="copyright" id="copyright">(C) Copyright 2009 by ZyXEL Communications Corp.</div>
<div class="in_bg" id="in_bg"></div>
<div class="in_line" id="topline" ></div>
<div class="frame_left"></div>
<div class="frame_right"></div>
<div class="unit_myrouter"></div>
<div class="unit_title" id="unitword"><img src="images/g_logo.jpg" width="89" height="33" style="margin-top:5px;"/></div>
<!-- Hotkey"-->
<div class="hotkey" id="Hotkey">
  <table  border="0" align="right" cellpadding="0" cellspacing="2">
    <tr>
      <td><div class="home"><a href="../index/index_login.html">Home</a></div ></td>
      <td><div class="expert"><a href="../admin/dashboard.html">Expert Mode</a></div></td>
      <td><div class="wizard"><a href="genie.html">Wizard</a></div></td>
      <td><div class="logout"><a href="#" onclick="MM_showHideLayers('popup','','show','popup3_table','','show')">Logout</a></div></td>
    </tr>
  </table>
</div>
<!-- Hotkey"-->
<div class=crop>
<div class=widearea>
<div id="position">
<div id="left_arrow"><a href="#"></a></div>
<div id="right_arrow"><a href="#"></a></div>
<div id="left_arrow2"><a href="#"></a></div>
<div id="right_arrow2"><a href="#"></a></div>
<div class="popup"><ul><li class="popuptop"></li><li class="popupmain"><a href="detail.html" target="contenthtml">- Details</a></li><li class="popupdown"></li></ul></div>
<div class="earth"></div>
<div class="housing"><ul><li class="img"><a href="#"></a></li><li class="word_button"><div align="center"><a href="#">EMG2926-Q10A</a></div>
</li >
</ul></div>
<div class="modem"><ul><li class="img"><a></a></li><li class="word_button"><div align="center"><a href="#">Modem</a></div></li ></ul></div>
<div class="ethernet">
<div  id="nb"><ul><li class="img"><a href="#"></a></li><li class="word_button"><div align="center"><a href="#">Carol PC </a></div></li ></ul></div>
<div id="nb2"><ul><li class="img"><a href="#"></a></li><li class="word_button"> <div align="center"><a href="#">Mike PC </a></div></li ></ul></div>
<div id="nb3"><ul><li class="img"><a href="#"></a></li><li class="word_button"><div align="center"><a href="#">Brad PC </a></div></li ></ul></div>
<div id="nb4">
  <ul><li class="img"><a href="#"></a></li><li class="word_button"><div align="center"><a href="#">Howard PC </a></div></li ></ul></div></div> 
<div class="ethernet2">
<div id="wifi1" title="WiFi"></div>
<div id="wifi2" title="WiFi"></div>
<div id="wifi3" title="WiFi"></div>
<div id="wifi4" title="WiFi"></div>
<div id="nb"><ul><li class="img"><a href="#"></a></li><li class="word_button">
 <div align="center"><a href="#">WiFi1 PC </a></div></li ></ul></div>
<div id="game2"><ul><li class="img"><a href="#"></a></li><li class="word_button"> <div align="center"><a href="#">WiFi2 Game </a></div>
</li ></ul></div>
<div id="ap3"><ul><li class="img"><a href="#"></a></li><li class="word_button">
  <div align="center"><a href="#">WiFi3 AP... </a></div>
</li ></ul></div>
</div>
<div style="position:absolute; top:117px; width:50px; color:#999999; left: 216px;">Wired</div>
<div style="position:absolute; top:335px; width:50px; color:#999999; left: 216px;">Wireless</div>
<div id="error4"></div>
<div id="error1"></div>
<div id="error2"></div>
   <div class="vline_error"></div><div class="vline2"></div>
    <div class="vline3"></div>
   <div class="vline3_error"></div>
   <div class="hline"></div>
  <div class="hline2"></div>
  <div class="hline3"></div>
    <div class="hline4_error"></div>
    <div class="hline3_error"></div>
    <div class="i_status" id="i_status"><a href="#">Status</a></div>
      </div>
<div id="position2">
  <div class="map_word"><table width="434" border="0" cellpadding="0" cellspacing="0">
  <tr><td class="map_title"> Name : </td><td class="map_content">ZyXEL EMG2926-Q10A</td></tr>
  <tr><td class="map_title"> Time : </td> <td class="map_content">2008/06/13/AM 11:38:09</td> </tr>
  <tr><td class="map_title"> WAN IP : </td> <td class="map_content">172.23.30.21</td></tr>
  <tr> <td class="map_title"> MAC Address : </td><td class="map_content">00:17:9A:50:24:A0</td></tr>
  <tr><td class="map_title"> Firmware Version : </td><td class="map_content">1.05 , 2006/05/24</td></tr>
  <tr><td colspan="2" class="line_map">&nbsp;</td> </tr>
  <tr><td class="map_title"> Wireless Network Name (SSID) : </td><td class="map_content">ZyXEL</td></tr> 
  <tr><td class="map_title"> Security : </td><td class="map_content">WPA2</td></tr>
</table></div>
   <div class="i_map" id="i_map"><a href="#">Network MAP</a></div>
</div>
</div>
</div>
 <div class="menu_line" id="menuline" ></div>
 <div class="menu_line5"></div>
 <!--Howard  06/19  id="menu"-->
 <div class="menu" id="menu" >
   <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
     <tr>
       <td><!--Howard  07/01  id="menu"-->
           <div class="game"><a href="game.html" target="contenthtml">Game Engine</a></div>
         <!--Howard  07/01  id="menu"-->       </td>
       <td rowspan="2"><img src="images/line.jpg" width="2" height="76" /></td>
       <td><div class="powersafe"><a href="power_saving.html" target="contenthtml">Power Saving</a></div></td>
       <td rowspan="2"><img src="images/line.jpg" width="2" height="76" /></td>
       <td><div class="parental"><a href="parental_control.html" target="contenthtml">Parental Control</a></div></td>
       <td rowspan="2"><img src="images/line.jpg" width="2" height="76" /></td>
       <td><div class="bandwidth"><a href="bandwidth.html" target="contenthtml">Bandwidth MGMT</a></div></td>
       <td rowspan="2"><img src="images/line.jpg" width="2" height="76" /></td>
       <td><div class="firewall"><a href="firewall.html" target="contenthtml">Firewall</a></div></td>
       <td rowspan="2"><img src="images/line.jpg" width="2" height="76" /></td>
       <td><div class="wireless"><a href="wireless_security.html" target="contenthtml">Wireless Security</a></div></td>
     </tr>
     <tr>
       <td><div class="on_off">
         <ul>
           <li class="on_on" ><a href="#"></a></li>
           <li class="off"><a href="#"></a></li>
         </ul>
       </div></td>
       <td><div class="on_off2">
         <ul>
           <li class="on"><a href="#"></a></li>
           <li class="off_on"><a href="#"></a></li>
         </ul>
       </div></td>
       <td><div class="on_off3">
         <ul>
           <li class="on_on"><a href="#"></a></li>
           <li class="off"><a href="#"></a></li>
         </ul>
       </div></td>
       <td><div class="on_off4">
         <ul>
           <li class="on_on"><a href="#"></a></li>
           <li class="off"><a href="#"></a></li>
         </ul>
       </div></td>
       <td><div class="on_off5">
         <ul>
           <li class="on_on" ><a href="#"></a></li>
           <li class="off"><a href="#"></a></li>
         </ul>
       </div></td>
       <td>&nbsp;</td>
     </tr>
   </table>
 </div>
 <div class="on_off">
  <ul><li class="on_on" ><a href="#"></a></li><li class="off"><a href="#"></a></li></ul></div>
  <div class="on_off2">
  <ul><li class="on"><a href="#"></a></li><li class="off_on"><a href="#"></a></li></ul></div>
  <div class="on_off3">
  <ul><li class="on_on"><a href="#"></a></li><li class="off"><a href="#"></a></li></ul></div>
  <div class="on_off4">
  <ul><li class="on_on"><a href="#"></a></li><li class="off"><a href="#"></a></li></ul></div>
  <div class="on_off5">
  <ul><li class="on_on"><a href="#"></a></li><li class="off"><a href="#"></a></li></ul></div>
</div>
<!--Howard  06/19  new--> 
<div class="mask" id="b-mask"><!--Howard  06/19  class="bandwidthframe" id="bandwidthframe"--></div>
<div id="load" class="load" align="center">
	<img src="images/loading.gif" />loading...</div>  
<div class="layer1" id="layer1">
  <div class="bandwidthframe" id="b-bandwidthframe">
    <ul>
      <li class="popup_top"></li>
      <li class="popup_main"></li>
      <li class="popup_down"></li>
    </ul>
  </div>
  <div class="unit_bandwidth_icon" id="b-icon"></div>
  <div class="unit_bandwidth_title" id="b-title">Bandwidth MGMT</div>
  <div class="close"id="b-close"><a href="networkmap.html" target="_parent" ></a></div>
  <div class="bandwidth_content" id="bandwidht_conternt">
    <iframe  id="contenthtml" name = "contenthtml"  onload=loadFile()
 style="border:0px solid orange; " frameborder="0" width="600" height="390" scrolling="no"></iframe>
  </div>
</div>
<div id="popup3_table">
  <table width="60%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" height="37" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="19" height="37"><img src="../images/popup_top_left.gif" width="19" height="45" /></td>
        <td background="../images/popup_top_center.gif" class="table_title">Log Out</td>
        <td width="15" background="../images/popup_top_center.gif"><a href="#" class="iclose" onclick="MM_showHideLayers('popup','','hide','popup3_table','','hide')"></a></td>
        <td width="19" height="45"><img src="../images/popup_top_right.gif" width="19" height="45" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="19" background="../images/popup_main_left.gif">&nbsp;</td>
        <td bgcolor="#FFFFFF"><span class="popupcontent"> 
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="27%"><center>
                <img src="../images/i_info.jpg" width="50" height="49" />
              </center>
              </td>
              <td width="73%">Are you sure you want to log out?</td>
            </tr>
          </table>
         
        </span></td>
        <td width="19" background="../images/popup_main_right.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" height="37" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="19" height="48"><img src="../images/popup_down_left.gif" width="19" height="48" /></td>
        <td background="../images/popup_down_center.gif">
		<div class="button2"><ul>   
    <li><a href="#" title="Reset"><span onclick="MM_showHideLayers('popup','','hide','popup3_table','','hide')">No</span></a></li>
	<li><a href="../../index/index.html" title="Reset"><span>Yes</span></a></li>
	</ul></div></td>
        <td width="19" height="37"><img src="../images/popup_down_right.gif" width="19" height="48" /></td>
      </tr>
    </table></td>
  </tr>
</table></div>
</body>
</html>
