config parental_general 'general'
        option ruleIdx ''
        option enable '0'
        option count '0'

config parental_trust_ip trust_ip
	option ipaddr "0.0.0.0"
	
config parental_restrict_web restrict_web
	option activeX 0
	option java 0
	option cookies 0
	option web_proxy 0
	
config parental_keyword keyword
	option enable 0
	option keywords "" 
	
config parental_opendns 'opendns'
	option enable '0'
	option account ''
	option password ''

