@import url("reset.css");
body{height:100%;background-attachment: fixed;background-image: url(/luci-static/zyxel/admin/images/advance_bg.gif);font-family:Arial, Helvetica, sans-serif; }
html>body {width: auto;height: auto;}
body.topbg{background-image: url(/luci-static/zyxel/admin/images/advance_bg.gif);margin: 0px;padding: 0px;position: absolute;top: 0%;right: 0%;left: 0%;bottom: 0%;width: 100%;height: 100%;}
*html { overflow-x: hidden; }
*html input{ margin-top:5px; }
.bluetext{font-size:12px;color:#0b70fc;}
.clearfloat {clear:both; height:0;font-size: 1px;line-height: 0px;}
#wrapper{position:relative; width:100%; margin:0 auto;}
#top{position:relative;width:100%;height:61px;background: url(/luci-static/zyxel/admin/images/title_bg.jpg) no-repeat;}
.logo{ position:absolute; width:102px; height:29px; left:18px; top:18px;}
.modelname{position:absolute;width:40%;height:25px;font-size:18px;color:#9ce2ff;font-weight:bold;left: 126px;top: 20px;}
#wrapper #blueline{width:100%; height:6px; margin:0 auto; background:#729ed0; font-size:6px;}
#contentframe{position:relative;width:100%;margin:0 auto;}
#contentframe .mainconent{margin-left:34px;margin-right: 10px;border-left: 1px solid #779bc8;border-right: 1px solid #779bc8;}
.contentdata{display:block;width:100%; height:30px; background-repeat:repeat-x; }
.contentdata .content_title{display:block;float:left;  font-size:16px; color:#ffffff; font-weight:bold; height:30px; padding-top:10px; padding-left:24px;}
.space{display:block; width:95%; margin:0 auto;height:28px; background:url(/luci-static/zyxel/admin/images/line2.gif); background-repeat:repeat-x; clear:both; }
.spaceair{display:block; width:95%; margin:0 auto;height:20px; background-repeat:repeat-x; clear:both; }
.title{ width:95%;display:block; margin:0 auto; color:#385f95; font-size:12px; font-weight:bold; height:25px; line-height:25px;}
.bold{ font-weight:bold;}
#loading{position:absolute;width:100%; margin:0 auto; margin-top:150px; }
#floor{display:block;}
.r1 {height:1px; font-size:1px; overflow:hidden; display:block; background:#779bc8; margin:0 5px;}
.r2 {height:1px; font-size:1px; overflow:hidden; display:block; border-right:2px solid #779bc8; border-left:2px solid #779bc8; margin:0 3px;background:#39639e;}
.r3 {height:1px; font-size:1px; overflow:hidden; display:block; border-right:1px solid #779bc8; border-left:1px solid #779bc8; margin:0 2px;background:#39639e;}
.r4 {height:2px; font-size:1px; overflow:hidden; display:block; border-right:1px solid #779bc8; border-left:1px solid #779bc8; margin:0 1px;background:#39639e;}
/*Tab define*/
#tabs{position:absolute;width:92%;top:10px;z-index:21; left:43px;}
#tabs li {display:inline;margin:0;padding:0; }
#tabs a {float:left;background:url(/luci-static/zyxel/admin/images/tab_left.gif) no-repeat left top;margin:0;padding:0 0 0 3px;line-height:19px;text-decoration:none; font-size:12px; }
#tabs a span {float:left;display:block;background:url(/luci-static/zyxel/admin/images/tab_right.gif) no-repeat right top;padding:1px 9px 3px 6px; color:#15428b; font-weight:bold;}
#tabs a span {float:none;}
#tabs a:hover span {color:#000000;}
#tabs a:hover {background-position:0% -23px;}
#tabs a:hover span {background-position:100% -23px;}
#tabs li.hightline a {float:left;background:url(/luci-static/zyxel/admin/images/tab_left.gif) no-repeat left top;margin:0;padding:0 0 0 3px;line-height:20px;text-decoration:none; font-size:12px;background-position:0% -23px; }
#tabs li.hightline a span {float:left;display:block;background:url(/luci-static/zyxel/admin/images/teb_hightline.gif) no-repeat; background-position:right top;padding:1px 9px 3px 6px; color:#15428b; font-weight:bold;}
/*Dashboard define*/
.contentdata .refresh{ float:right; display:block; width:450px; min-width:450px; height:29px; margin-right:30px;}
.contentdata .refresh ul li{ float:left;}
.refresh_right{ display:block; background:url(/luci-static/zyxel/admin/images/i_rightrefresh.gif); width:7px; height:29px;}
.refresh_center{display:block; background:url(/luci-static/zyxel/admin/images/i_center_refresh.gif); width:400x; height:29px;  font-size:10px; color:#1f4f8b;}
.refresh_left{display:block; background:url(/luci-static/zyxel/admin/images/i_left_refresh.gif); width:29px; height:29px;}
.pannel2{width:96%;margin:0 auto;height: 100%;position: relative;}
.leftpannel{display:block;width:49%;float:left;}
.rightpannel{display:block;width:49%;float:right;margin-top: 15px;}
/*Pannel define*/
#leftframe{position: absolute;width:61px;margin:0 auto;top:0px;left: 0; z-index:20;}
.leftspace{display:block;height:20px;width:166px;line-height: 20px;}
.leftspace a{ color:#CCCCCC; font-size:12px; text-decoration:none; }
.leftspace2{display:block; height:800px; width:166px;}
.menu{position:absolute;width:180px;z-index:6;position: fixed;padding: 5px;border-top: 1px solid #779bc8;border-left: 1px solid #779bc8;border-right: 1px solid #779bc8;top: 0px;right: 3px;margin-left:31px;bottom: 0px;left: 3px; background:#39639E;height: 100%; _margin-left:34px; _margin-top:-15px;}
.menubottom{position:absolute;width:180px;z-index:6;position: fixed;padding: 5px;border-bottom: 1px solid #779bc8;border-left: 1px solid #779bc8;border-right: 1px solid #779bc8;top: 0px;right: 3px;margin-left:31px;bottom: 0px;left: 3px; background:#39639E;height: 100%; _margin-left:34px; _margin-top:-15px;}
.menutitle{display:block; font-size:12px; color:#feffff; font-weight:bold; text-indent:4px;}
.menu_top{display:block; width:179px; font-size:12px; color:#feffff; font-weight:bold; text-indent:4px; padding-top:0px;}
.menu ul li.floor{display:block; width:168px; height:2px;}
/*Table define*/
.percentage{border-bottom: 1px solid #d9d9d9;background:#ffffff;height:22px;  }
.table_frame{border: 1px solid #99bbe8; background:#CCCCCC;}
.top_font td{border-bottom: 1px solid #ededed;height:26px;background:url(/luci-static/zyxel/admin/images/table2_center.gif);line-height:15px;font-size:12px;color:#010101;border-right-width: 1px;border-right-style: solid;border-right-color: #d0d0d0;border-bottom: 1px solid #d9d9d9; text-indent:5px;  min-height:25px; font-weight:bold; }
.table_font td{border-bottom: 1px solid #d9d9d9;background:#ffffff;font-size:12px;color:#010101;text-indent:5px; height:22px;  }
.table_title{font-size:12px;color:#39418b;font-weight:bold;text-indent: 10px; background:url(../admin/images/table_top_center.gif);}
.table_title2{font-size:12px;color:#39418b;font-weight:bold;text-indent: 10px;;}
.about_title{font-size:12px;color:#39418b;font-weight:bold;text-indent: 10px;}
#table{position:absolute;width:92%;top:32px;z-index:20;left:42px; padding-bottom:15px; }
.table_top{width:100%;background:#deecfd;height:4px;font-size:1px;background-repeat:repeat-x;margin-right:3px;z-index:6;border-top: 1px solid #8db2e3;border-right: 2px solid #8db2e3;border-bottom: 1px solid #8db2e3;border-left: 2px solid #8db2e3;position:absolute; }
.table_content{display:block;width:100%;border-right-width: 2px;border-left-width: 2px;border-right-style: solid;border-left-style: solid;border-right-color: #8db2e3;border-left-color: #8db2e3;border-top-width: 0px;border-bottom-width: 0px;background:#ffffff; z-index:5; padding-top:20px;}
.table_button{display:block; width:100%;border-right-width: 2px;border-left-width: 2px;border-right-style: solid;border-left-style: solid;border-right-color: #8db2e3;border-left-color: #8db2e3;border-top-width: 0px;border-bottom-width: 0px; background:url(/luci-static/zyxel/admin/images/table_bottom.gif); height:33px; line-height:33px;}
/*Quick Link define*/
.quick_link{position:absolute;width:400px; height:25px; right:5px; top:4px; }
.quick_link li{float:right;display:block; margin:0 2px;font-size:10px;color:#d7effe;}
.quick_link ul li a{ font-size:10px;color:#78c7fe;}
.quick_link ul li a:hover{color:#b5e1ff; text-decoration:none;}
.quick_link li.line{ display:block; width:1px; height:7px; background:#cecece; margin-top:3px;}
.about{display:block;margin-left:5px; width:8em; height:17px; background:url(/luci-static/zyxel/admin/images/i_about.gif) no-repeat; }
.about a{font-size:10px;color:#d7effe; padding-left:8px; }
.about a:hover{color:#b5e1ff;}
.help{display:block;margin-left:3px;width:45px;height:17px;background:url(/luci-static/zyxel/admin/images/i_help.gif) no-repeat;}
.help a{font-size:10px;color:#d7effe; padding-left:17px; }
.help a:hover{color:#b5e1ff;}
.easy{display:block;margin-left:3px;height:17px;background:url(/luci-static/zyxel/admin/images/i_easy.gif)  no-repeat;}
.easy a{font-size:10px;color:#d7effe; padding-left:17px; }
.easy a:hover{color:#b5e1ff;}
.home{display:block;margin-left:8px;width:50px;height:17px;background:url(/luci-static/zyxel/admin/images/i_home.gif)  no-repeat;}
.home a{font-size:10px;color:#d7effe; padding-left:17px; }
.home a:hover{color:#b5e1ff;}
.eazy{display:block;margin-left:3px;height:17px;background:url(/luci-static/zyxel/admin/images/i_wizard.gif)  no-repeat;}
.eazy a{font-size:10px;color:#d7effe; padding-left:17px; }
.eazy a:hover{color:#b5e1ff;}
/*Path*/
.path{position:absolute;height:21px;background:#7296c1;width:100%;border: 1px solid #97b4d2; line-height:21px;top:0px; padding-left:10px; margin-left:-2px;}
.i_path{display:block;  background:url(/luci-static/zyxel/admin/images/i_path.gif)  no-repeat; width:80%; height:21px; background-position:left 5px;color:#ededed;  font-size:12px; text-decoration:none; text-indent:15px;}
/*content*/
.data ul li{width:95%;display:block;margin:0 auto;}
/*Level one*/
.w_text{ position:relative; display:block; width:95%;margin:0 auto;color:#000000; font-size:12px; line-height:20px;clear:both; }
.w_text ul li{float:left;margin-top:1px;  margin-bottom:1px;}
.w_text ul li.left_table{display:block; width:35%; height:25px}
.w_text ul li.right_table{display:block; width:60%; height:25px}
.w_text ul li.table_15{display:block; width:15%; height:25px}
.w_text ul li.table_20{display:block; width:20%; height:25px}
.w_text ul li.table_30{display:block; width:30%; height:25px}
.w_text ul li.table_45{display:block; width:45%; height:25px}
/*Level two*/
.w_text2{ position:relative;  display:block; width:95%;margin:0 auto; font-size:12px;line-height:20px; padding-left:20px;clear:both;  }
.w_text2 ul li{float:left;margin-top:1px;  margin-bottom:1px;}
.w_text2 ul li.left_table{display:block; width:35%; }
.w_text2 ul li.right_table{ display:block; width:60%; margin-left:-10px;}
.w_text2 ul li span.data{color:#0b70fc; font-size:12px;}
/*Table Frame*/
.tableframe{ position:relative; display:block; width:95%;margin:0 auto;color:#000000; font-size:12px; top:10px;  margin-bottom:10px; table-layout:fixed; clear:both; }
/*Text Area Frame*/
.textareaframe{ display:block; width:90%;margin:0 auto;color:#000000; font-size:12px;}
/* Note*/
.i_note{ display:block; background:url(/luci-static/zyxel/admin/images/i_note.gif)  no-repeat; height:28px;line-height:28px; background-position:left 5px;font-size:12px; font-weight:bold; color:#000000;text-indent:18px;}
.i_note_a{display:block;font-size:12px;font-weight:bold;color:#000000;padding-left: 25px;line-height: 16px;}
a.note{ font-weight:lighter;}
a.note:hover{ text-decoration:none;}
a.sort{ font-weight:bold; color:#000000;}
a.sort:hover{ text-decoration:none; color:#003366;}
/* Warning Define*/
.i_warning{ display:block; background:url(/luci-static/zyxel/admin/images/i_caution.gif)  no-repeat; height:28px;line-height:28px; background-position:left 5px;font-size:12px; font-weight:bold; color:#990000;text-indent:18px;}
.i_warning_a{display:block;font-size:12px;font-weight:bold;color:#990000;padding-left: 25px;line-height: 16px;}
/*Message Bar*/
#messagebar{position:absolute; width:100%; height:28px; background:url(/luci-static/zyxel/admin/images/message_bar.gif); background-repeat:repeat-x;}
.barcontent{display:block; width:100%; height:26px; line-height:26px; }
.barcontent ul li{display:block; float:left;padding-top:2px; padding-left:2px;}
.barcontent ul li.i_message{display:block;margin-left:10px; width:22px; height:28px; line-height:28px; background:url(/luci-static/zyxel/admin/images/i_message.gif); background-repeat:no-repeat; background-position:left 3px;}
.barcontent ul li.message_title{ margin-left:2px;font-size:12px;font-weight:bold;}
.barcontent ul li.message_word{margin-left:10px;font-size:12px;width:80%;background:url(/luci-static/zyxel/admin/images/message_bar2.gif);background-position:left -1px; padding-top:2px; padding-left:2px;}


/**Menu**/
.submenu2{position:absolute;width:35px;height:152px;z-index:15;top: -1px;left: 1px;}
.submenu2 ul li{display:block; width:35px; }
.submenu2 ul li.i_dashboard a{display:block; background-image:url(/luci-static/zyxel/admin/images/b_dashboard.gif); height:38px; }
.submenu2 ul li.i_dashboard{display:block; background-image:url(/luci-static/zyxel/admin/images/b_dashboard_on.gif); height:38px; }
.submenu2 ul li.i_dashboard a:hover{background-image:url(/luci-static/zyxel/admin/images/b_dashboard_on.gif);}
.submenu2 ul li.i_monitor a{display:block; background-image:url(/luci-static/zyxel/admin/images/b_monitor.gif); height:38px; }
.submenu2 ul li.i_monitor{display:block; background-image:url(/luci-static/zyxel/admin/images/b_monitor_on.gif); height:38px; }
.submenu2 ul li.i_monitor a:hover{background-image:url(b_monitor_on.gif); }
.submenu2 ul li.i_config a{display:block; background-image:url(/luci-static/zyxel/admin/images/b_config.gif); height:38px; }
.submenu2 ul li.i_config{display:block; background-image:url(/luci-static/zyxel/admin/images/b_config_on.gif); height:38px; }
.submenu2 ul li.i_config a:hover{background-image:url(/luci-static/zyxel/admin/images/b_config_on.gif); }
.submenu2 ul li.i_maintenance a{display:block; background-image:url(/luci-static/zyxel/admin/images/b_maintenance.gif); height:38px; }
.submenu2 ul li.i_maintenance{display:block; background-image:url(/luci-static/zyxel/admin/images/b_maintenance_on.gif); height:38px; }
.submenu2 ul li.i_maintenance a:hover{background-image:url(b_maintenance_on.gif); }
.menu2{position:absolute;width:166px;margin-left:34px;z-index:6;height: 100%;top: -1px;}
/**Wait Configuration**/
#popup_wait{position:absolute;width:60%;margin: 10% 32%;top:15%;z-index:153;left: 1px;visibility: visible;}
 /*Button of Popup */
.button2{  display:block;width:100%;height:25px; margin-bottom:5px; }
.button2 ul li{ display:block;  float:right; margin-left: 20px; }
.button2 li a { display:block; background-image:url(../easy/images/button_right.gif); background-position:right top; line-height:21px; font-size:11px; text-decoration:none; color:#2b002c; }
.button2 li a:hover {  background-position:right -21px;}
.button2 li a span { display:block; background-image:url(../easy/images/button_left.gif); background-position:left top; background-repeat:no-repeat; padding: 0px 15px 0px 15px;}
.button2 li a:hover span { background-position:left -21px;}
